# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv/

# Editor/IDE files
.vscode/
.idea/

# PyInstaller
.eggs/
*.egg-info/
/build/
/dist/
*.spec
gphoto-get
